<template>
    <v-app :dark="true">

        <abn-header></abn-header>

        <v-content>
            <router-view/>
        </v-content>

        <abn-aside></abn-aside>

        <abn-footer></abn-footer>

    </v-app>
</template>

<script>
    import AbnHeader from "@/components/layout/Header";
    import AbnAside from "@/components/layout/Aside";
    import AbnFooter from "@/components/layout/Footer";

    export default {
        name: 'abn-master-layout',
        components: {
            AbnFooter,
            AbnAside,
            AbnHeader
        },
        data() {
            return {};
        }
    }
</script>
