<template>
    <abn-master-layout></abn-master-layout>
</template>

<script>
    import AbnMasterLayout from "@/views/layouts/Master"

    export default {
        name: 'App',
        components: {
            "abn-master-layout": AbnMasterLayout,
        },
        beforeMount() {
            this.getBaseUri();

            this.$bus.$on('user-logout-event', this.logout);
        },
        methods: {
            async getBaseUri() {
                const that = this;

                document.addEventListener('DOMContentLoaded', function () {
                    that.$http.defaults.baseURL = window.location.origin;

                    if (localStorage.getItem('user-data')) {
                        that.$store.commit('user/setUser', JSON.parse(localStorage.getItem('user-data')));
                    }
                });
            },
            clearStorage() {
                localStorage.removeItem('user-data');
                this.$store.commit('user/clearUser');
            },
            logout() {
                this.clearStorage();
                this.$noty.success('Выход выполнен успешно.');
            }
        }
    }
</script>

<style>
    /* links global fix */
    a:hover {
        text-decoration: none !important;
        color: inherit;
    }
</style>
