<template>
    <v-list two-line class="abn-list-round">

        <fieldset @click="$router.push({name: 'chat.pick', params:{chat_id: chat.id}})"
                  class="abn-chats-holder abn-chat-hover">
            <legend style="margin-left: 2rem;padding: .5rem">
                {{ `${chat.opponent.first_name} ${chat.opponent.surname}` }}
            </legend>

            <v-list-tile avatar>
                <!-- Avatar of user. User can be null. -->
                <v-list-tile-avatar>
                    <img :src="getCurrentImage()">
                </v-list-tile-avatar>

                <v-list-tile-content>
                    <v-list-tile-title v-if="chat.last_message.author">
                        {{ chat.last_message.content }}
                    </v-list-tile-title>
                    <v-list-tile-title
                        v-else-if="chat.last_message.type.title === 'venue'">
                        {{ `Customer wants: ${chat.last_message.title}` }}
                    </v-list-tile-title>
                    <v-list-tile-title
                        v-else-if="chat.last_message.type.title === 'offer'">
                        {{ `Offer for: ${chat.last_message.title}` }}
                    </v-list-tile-title>

                    <v-list-tile-sub-title class="abn-small-text">
                        <span class='text--primary' v-if="chat.last_message.author">
                            {{ `${chat.last_message.author.first_name} ${chat.last_message.author.surname}` }}
                        </span>

                        <span class='text--primary' v-else-if="chat.last_message.author_id === 0">
                            <span v-if="chat.last_message.type && chat.last_message.type.title === 'offer'">Offer</span>
                            <span v-else>Booking service</span>
                        </span>

                        <span class='text--primary' v-else>
                            <i>deleted</i>
                        </span>

                        &mdash; {{ chat.last_message.created_at }}
                    </v-list-tile-sub-title>
                </v-list-tile-content>

            </v-list-tile>
        </fieldset>

    </v-list>
</template>

<script>
    export default {
        name: "abn-chat-item",
        props: {
            chat: {
                type: Object,
                default: {
                    id: 0,
                    owner_id: 0,
                    participant_id: 0,
                    last_message: {
                        id: 0,
                        title: "Can be empty or some stuff",
                        // Can be json, if this is special message from service account
                        content: "Some message text",
                        // Empty or not
                        images: [
                            {
                                id: 0,
                                url: "image url",
                            }
                        ],
                        author_id: 0,
                        author: {
                            id: 0,
                            first_name: "First name",
                            surname: "Surname",
                            // Can be null
                            avatar: {
                                id: 0,
                                url: "avatar url",
                            },
                        },
                        created_at: "Datetime",
                    },
                    last_service_message: {
                        id: 0,
                        title: "Can be empty or some stuff",
                        // Can be json, if this is special message from service account
                        content: {
                            type: "Service message type",
                        },
                        // Empty or not
                        images: [
                            {
                                id: 0,
                                url: "image url",
                            }
                        ],
                        author_id: 0,
                        author: {
                            id: 0,
                            first_name: "First name",
                            surname: "Surname",
                            // Can be null
                            avatar: {
                                id: 0,
                                url: "avatar url",
                            },
                        },
                        created_at: "Datetime",
                    },
                },
            },
        },
        methods: {
            getCurrentImage() {
                let params = "?h=150&w=150";

                if (this.chat.last_message.author && this.chat.last_message.author.avatar) {
                    return this.chat.last_message.author.avatar.url + params;
                }

                if (this.chat.last_message.author_id === 0) {
                    try {
                        if (this.chat.last_message.type.title === 'offer') {
                            return `/img/default/offer.jpg${params}`;
                        }
                    } catch (e) {
                        // No need to do something. We already returns service in the end if there is some problems.
                    }

                    return `/img/default/service.jpg${params}`;
                }

                return `/img/default/user.jpg${params}`;
            }
        },
    }
</script>

<style scoped>
    .abn-chats-holder {
        border-radius: 12px;
        margin-left: .75rem;
        margin-right: .75rem;
    }

    .abn-small-text {
        font-size: 10px;
    }

    .abn-list-round {
        margin: .5rem;
        border-radius: 10px;
    }

    .abn-chat-hover:hover {
        border-color: #00d892;
        cursor: pointer;
    }
</style>
