<template>
    <v-list two-line>

        <v-list-tile avatar>
            <!-- Avatar of user. User can be null. -->
            <v-list-tile-avatar>
                <img :src="getCurrentImage()">
            </v-list-tile-avatar>

            <v-list-tile-content>
                <v-list-tile-title v-if="message.author">{{ message.content }}</v-list-tile-title>
                <v-list-tile-title
                        v-else-if="message.type.title === 'venue'">
                    {{ `Customer wants: ${message.title}` }}
                </v-list-tile-title>
                <v-list-tile-title
                        v-else-if="message.type.title === 'offer'">
                    {{ `Offer for [${message.title}]: ${message.content.offer_token}` }}
                </v-list-tile-title>

                <v-list-tile-sub-title class="abn-small-text">
                    <span class='text--primary' v-if="message.author">
                        {{ `${message.author.first_name} ${message.author.surname}` }}
                    </span>

                    <span class='text--primary' v-else-if="message.author_id === 0">
                        <span v-if="message.type && message.type.title === 'offer'">Offer</span>
                        <span v-else>Booking service</span>
                    </span>

                    <span class='text--primary' v-else>
                        <i>deleted</i>
                    </span>

                    &mdash; {{ message.created_at }}
                </v-list-tile-sub-title>
            </v-list-tile-content>
        </v-list-tile>

    </v-list>
</template>

<script>
    export default {
        name: "abn-message",
        props: {
            message: {
                type: Object,
                default: {
                    id: 0,
                    title: "Can be empty or some stuff",
                    // Can be json, if this is special message from service account
                    content: "Some message text",
                    // Empty or not
                    images: [
                        {
                            id: 0,
                            url: "image url",
                        }
                    ],
                    author_id: 0,
                    author: {
                        id: 0,
                        first_name: "First name",
                        surname: "Surname",
                        // Can be null
                        avatar: {
                            id: 0,
                            url: "avatar url",
                        },
                    },
                    created_at: "Datetime",
                }
            }
        },
        methods: {
            getCurrentImage() {
                let params = "?h=150&w=150";

                if (this.message.author && this.message.author.avatar) {
                    return this.message.author.avatar.url + params;
                }

                if (this.message.author_id === 0) {
                    try {
                        if (this.message.type.title === 'offer') {
                            return `/img/default/offer.jpg${params}`;
                        }
                    } catch (e) {
                        // No need to do something. We already returns service.jpg in the end if there is some problems.
                    }

                    return `/img/default/service.jpg${params}`;
                }

                return `/img/default/user.jpg${params}`;
            }
        },
    }
</script>

<style scoped>
    .abn-small-text {
        font-size: 10px;
    }
</style>

