<template>
    <v-container fluid>
        <div>Hello</div>
        <v-container>
            <abn-chat-item
                    v-if="chats.length"
                    v-for="prop_chat in getChats"
                    :chat="prop_chat"
                    :key="prop_chat.id"
            ></abn-chat-item>
            <div v-else>
                <h3>No chats</h3>
            </div>
        </v-container>
    </v-container>
</template>

<script>
    import AbnChatItem from "@/components/chat/ChatItem"

    export default {
        name: "abn-chat-dashboard",
        components: {
            AbnChatItem,
        },
        data() {
            return {
                chats: [],
                options: this.$store.getters['app/options'],
            };
        },
        beforeMount() {
            this.retrieveAllChats();
        },
        methods: {
            retrieveAllChats() {
                this.$http.get(this.options.uri.chat.main)
                    .then(response => {
                        let data = response.data.data;
                        this.chats = data.chats;
                    })
                    .catch(error => {
                        error = error.response;

                        this.$noty.error(error.statusText);
                        this.$log(error);
                    });
            },
        },
        computed: {
            getChats() {
                return this.chats;
            },
        }
    }
</script>
