<template>
    <v-container fluid>
        <v-btn color="success" fab @click="$router.push({name: 'chat.board'})">
            <v-icon>keyboard_backspace</v-icon>
        </v-btn>

        <abn-message
            class="abn-message-fix"
            v-if="messages.length"
            v-for="message in messages"
            :message="message"
            :key="message.id"></abn-message>
        <div v-else>
            <h3>No messages here</h3>
        </div>
    </v-container>
</template>

<script>
    import AbnMessage from "@/components/chat/Message"

    export default {
        name: "abn-chat-current",
        components: {
            AbnMessage,
        },
        data() {
            return {
                messages: [],
                participants: [],
            };
        },
        beforeMount() {
            const options = this.$store.getters['app/options'];

            this.$http.get(`${options.uri.chat.main}${this.$route.params.chat_id}`)
                .then(response => {
                    let data = response.data.data;
                    this.messages = data.chat.messages;
                    this.participants = data.chat.participants;
                })
                .catch(error => {
                    error = error.response;

                    this.$noty.error(error.statusText);
                    this.$log(error);
                });
        },
    }
</script>

<style scoped>
    .abn-message-fix {
        margin-top: .5rem;
        margin-bottom: .5rem;
        border-radius: 40px;
    }
</style>
