<template>
    <v-container grid-list-lg>
        <v-layout wrap>
            <v-flex xs12 sm6 md3>
                <v-list two-line>
                    <v-list-tile>
                        <v-list-tile-avatar v-if="getAvatar()">
                            <img :src="getAvatar()">
                        </v-list-tile-avatar>
                        <v-list-tile-avatar v-else>
                            <v-icon>perm_identity</v-icon>
                        </v-list-tile-avatar>

                        <v-list-tile-content>
                            <abn-change-avatar></abn-change-avatar>
                        </v-list-tile-content>
                    </v-list-tile>

                    <v-list-tile>
                        <v-list-tile-content>
                            <small class="deep-orange--text" v-if="isUser && auth.is_super">Супер администратор</small>
                            <small class="amber--text" v-else-if="isUser && auth.is_admin">Администратор</small>
                            <small class="blue-grey--text" v-else>Пользователь</small>
                        </v-list-tile-content>
                    </v-list-tile>

                    <v-list-tile>
                        <v-list-tile-content>
                            <v-list-tile-title>Имя</v-list-tile-title>
                            <v-list-tile-sub-title
                                class="text--primary"
                                v-html="getFirstName()"></v-list-tile-sub-title>
                        </v-list-tile-content>
                    </v-list-tile>

                    <v-list-tile>
                        <v-list-tile-content>
                            <v-list-tile-title>Фамилия</v-list-tile-title>
                            <v-list-tile-sub-title class="text--primary" v-html="getSurname()"></v-list-tile-sub-title>
                        </v-list-tile-content>
                    </v-list-tile>

                    <v-list-tile>
                        <v-list-tile-content>
                            <v-list-tile-title>Ник</v-list-tile-title>
                            <v-list-tile-sub-title class="text--primary">{{ auth.nickname }}</v-list-tile-sub-title>
                        </v-list-tile-content>
                    </v-list-tile>

                    <v-list-tile>
                        <v-list-tile-content>
                            <v-list-tile-title>E-mail</v-list-tile-title>
                            <v-list-tile-sub-title class="text--primary">{{ auth.email }}</v-list-tile-sub-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </v-list>
            </v-flex>

            <v-flex xs12 sm6 v-if="isUser || currentID || auth.is_admin">
                <v-card>
                    <v-card-title>
                        <span>Основная информация</span>
                    </v-card-title>

                    <v-card-text>
                        <v-container grid-list-md>
                            <v-form ref="main_form" class="abn-margin-bottom" v-model="valid_main" lazy-validation>
                                <v-layout wrap>
                                    <v-flex xs12 sm6>
                                        <v-text-field
                                            v-on:keyup.enter="updateUserProfile"
                                            v-model="first_name"
                                            :rules="first_name_rules"
                                            label="Имя"
                                        ></v-text-field>
                                    </v-flex>

                                    <v-flex xs12 sm6>
                                        <v-text-field
                                            v-on:keyup.enter="updateUserProfile"
                                            v-model="surname"
                                            :rules="surname_rules"
                                            label="Фамилия"
                                        ></v-text-field>
                                    </v-flex>

                                    <v-flex xs12>
                                        <v-text-field
                                            v-on:keyup.enter="updateUserProfile"
                                            v-model="nickname"
                                            :rules="nickname_rules"
                                            label="Ник"
                                        ></v-text-field>
                                    </v-flex>

                                    <v-flex xs12>
                                        <v-text-field
                                            v-on:keyup.enter="updateUserProfile"
                                            v-model="email"
                                            :rules="email_rules"
                                            label="E-mail"
                                        ></v-text-field>
                                    </v-flex>
                                </v-layout>
                            </v-form>
                        </v-container>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="success darken-1" flat :disabled="sendMain" @click="updateUserProfile">Изменить
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-flex>

            <v-flex xs12 sm6 md3 v-if="isUser || currentID || auth.is_admin">
                <v-card>
                    <v-card-title>
                        <span>Смена пароля</span>
                    </v-card-title>

                    <v-card-text>
                        <v-container grid-list-md>
                            <v-form ref="password_form" class="abn-margin-bottom" v-model="valid_password"
                                    lazy-validation>
                                <v-layout wrap>
                                    <v-flex xs12>
                                        <v-text-field
                                            type="password"
                                            v-model="old_password"
                                            :rules="old_password_rules"
                                            label="Старый пароль *"
                                            autocomplete="new-password"
                                        ></v-text-field>
                                    </v-flex>
                                    <v-flex xs12>
                                        <v-text-field
                                            type="password"
                                            v-model="password"
                                            :rules="password_rules"
                                            label="Новый пароль *"
                                            autocomplete="new-password"
                                        ></v-text-field>
                                    </v-flex>
                                    <v-flex xs12>
                                        <v-text-field
                                            v-on:keyup.enter="updateUserPassword"
                                            type="password"
                                            v-model="password_confirmation"
                                            :rules="password_confirmation_rules"
                                            label="Подтверждение *"
                                            autocomplete="new-password"
                                        ></v-text-field>
                                    </v-flex>
                                </v-layout>
                            </v-form>
                        </v-container>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="success darken-1" flat :disabled="sendPassword" @click="updateUserPassword">
                            Изменить
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import AbnChangeAvatar from "../../components/user/ChangeAvatar";

    export default {
        components: {AbnChangeAvatar},
        name: "profile",
        data() {
            return {
                auth: this.$store.getters['user/user'],
                token: this.$store.getters['user/token'],
                success: this.$store.getters['user/success'],
                options: this.$store.getters['app/options'],
                valid_main: false,
                valid_password: false,
                sending_main: false,
                sending_password: false,
                first_name: '',
                first_name_rules: [
                    v => {
                        if (v)
                            return v.length > 1 && v.length < 191 || 'Имя не может быть менее 2х символов';
                        else
                            return !0;
                    },
                ],
                surname: '',
                surname_rules: [
                    v => {
                        if (v)
                            return v.length > 1 && v.length < 191 || 'Фамилия не может быть менее 2х символов';
                        else
                            return !0;
                    },
                ],
                avatar: '',
                avatar_rules: [
                    v => !!v || "Ссылка на аватар обязательна",
                    v => {
                        if (v)
                            return v.length > 7 && /^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\.(jpe?g|png|svg|bmp)$/.test(v) || 'Ссылка на аватар должны быть правильным url адресом и ссылаться на изображение с расширением.';
                        else
                            return !0;
                    },
                ],
                nickname: '',
                nickname_rules: [
                    v => {
                        if (v)
                            return (v.length > 3 && v.length < 191) || 'Никнэйм не может быть менее 4х символов';
                        else
                            return !0;
                    },
                ],
                email: '',
                email_rules: [
                    v => {
                        if (v)
                            return /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(v) || "E-mail должен быть валидным.";
                        else
                            return !0;
                    },
                ],
                old_password: '',
                old_password_rules: [
                    v => !!v || 'Поле старого пароля не может быть пустым',
                    v => (v && v.length > 3) || 'Пароль не может быть менее 4х символов',
                ],
                password: '',
                password_rules: [
                    v => !!v || 'Поле пароля не может быть пустым',
                    v => (v && v.length > 3) || 'Пароль не может быть менее 4х символов',
                ],
                password_confirmation: '',
                password_confirmation_rules: [
                    v => !!v || 'Пароли не совпадают',
                    v => v === this.password || 'Пароли не совпадают',
                ],
            };
        },
        methods: {
            getAvatar() {
                if (this.auth.avatar) {
                    return this.auth.avatar.url;
                } else {
                    return false;
                }
            },
            getFirstName() {
                return this.auth.first_name ? this.auth.first_name : "<i>unknown</i>";
            },
            getSurname() {
                return this.auth.surname ? this.auth.surname : "<i>unknown</i>"
            },
            updateUserProfile() {
                this.sending_main = true;
                const url = this.options.uri.user.crud;
                let user = {};

                this.first_name && (user.first_name = this.first_name);
                this.surname && (user.surname = this.surname);
                this.nickname && (user.nickname = this.nickname);
                this.email && (user.email = this.email);

                this.$http.put(url, user)
                    .then(response => {
                        console.log(response);
                        this.$store.commit('user/updateUser', {user: response.data.user});
                    })
                    .catch(error => {
                        console.log(error.response)
                    })
                    .finally(() => {
                        this.sending_main = false;
                    });
            },
            updateUserPassword() {
                this.sending_password = true;
                const url = this.options.uri.user.password;
                let user = {};

                user.old_password = this.old_password;
                user.password = this.password;
                user.password_confirmation = this.password_confirmation;

                this.$http.put(url, user)
                    .then(response => {
                        console.log(response);
                    })
                    .catch(error => {
                        console.log(error.response)
                    })
                    .finally(() => {
                        this.sending_main = false;
                    });
            },
        },
        computed: {
            isUser() {
                this.success = this.$store.getters['user/success'];
                this.auth = this.$store.getters['user/user'];

                return this.success && this.auth.id !== 0;
            },
            currentID() {
                let user_id;
                console.log("User id: ", (user_id = this.$route.params.user_id));
                return user_id === this.auth.id;
            },
            sendMain() {
                return !this.valid_main || !(this.first_name || this.surname || this.nickname || this.email) || this.sending_main;
            },
            sendPassword() {
                return !(this.valid_password && this.old_password && this.password && this.password_confirmation)
                    || this.sending_password;
            }
        },
    }
</script>

<style scoped>
    .abn-margin-bottom {
        margin-bottom: .5rem;
    }
</style>
