<template>
    <v-dialog v-model="dialog" persistent max-width="500px">

        <v-btn slot="activator" flat color="primary">
            <v-icon>face</v-icon>
        </v-btn>

        <v-card>
            <v-card-title>
                <span class="headline">Смена аватара</span>
            </v-card-title>
            <v-card-text>
                <v-container grid-list-md>
                    <v-form ref="avatar_form" v-model="valid" lazy-validation>
                        <v-layout wrap>

                            <v-flex xs12>
                                <v-text-field
                                    v-on:keyup.enter="sendNewAvatarUrl"
                                    autocomplete="new-password"
                                    v-model="image_url"
                                    :rules="image_url_rules"
                                    label="Аватар *"
                                ></v-text-field>
                            </v-flex>

                        </v-layout>
                    </v-form>
                </v-container>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="error darken-1" flat @click="avatarDialogClose">
                    <v-icon>thumb_down</v-icon>
                </v-btn>
                <v-btn color="blue darken-1" flat @click="sendNewAvatarUrl" :disabled="sendingNewAvatar">
                    <v-icon>thumb_up</v-icon>
                </v-btn>
            </v-card-actions>
        </v-card>

    </v-dialog>
</template>

<script>
    export default {
        name: "abn-change-avatar",
        data() {
            return {
                valid: false,
                sending: false,
                dialog: false,
                image_url: '',
                image_url_rules: [
                    v => {
                        return v && v.length > 7 && /^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\.(jpe?g|png|svg|bmp)$/.test(v) || 'Введите верный url аватара.';
                    },
                ],
            };
        },
        methods: {
            sendNewAvatarUrl() {
                this.sending = true;
                const options = this.$store.getters['app/options'];

                this.$http.put(options.uri.user.avatar, {
                    image_url: this.image_url,
                })
                    .then(response => {
                        this.$store.commit('user/updateUser', {user: response.data.user});
                        this.$noty.success('Удачно обновлено.');

                        this.avatarDialogClose();
                    })
                    .catch(error => {
                        console.log(error, error.response);
                    })
                    .finally(() => {
                        this.sending = false;
                    })
            },
            avatarDialogClose() {
                this.$refs.avatar_form.reset();
                this.dialog = false;
            },
        },
        computed: {
            sendingNewAvatar() {
                return !(this.valid && this.image_url) || this.sending;
            },
        }
    }
</script>
