<template>
    <v-dialog v-model="dialog" persistent max-width="500px">

        <v-btn slot="activator" color="secondary" icon>
            <v-icon>lock</v-icon>
        </v-btn>

        <v-card>
            <v-card-title>
                <span class="headline">Авторизация</span>
            </v-card-title>
            <v-card-text>
                <v-container grid-list-md>
                    <v-form ref="login_form" v-model="valid" lazy-validation>
                        <v-layout wrap>

                            <v-flex xs12>
                                <v-text-field
                                    autocomplete="new-password"
                                    v-model="email"
                                    :rules="emailRules"
                                    label="E-mail"
                                    required
                                ></v-text-field>
                            </v-flex>

                            <v-flex xs12>
                                <v-text-field
                                    v-on:keyup.enter="login"
                                    autocomplete="new-password"
                                    type="password"
                                    v-model="password"
                                    :rules="passwordRules"
                                    label="Пароль"
                                    required
                                ></v-text-field>
                            </v-flex>

                        </v-layout>
                    </v-form>
                </v-container>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <abn-register-popup @click.native="close"></abn-register-popup>
                <v-btn color="error darken-1" flat @click.native="close">Отмена</v-btn>
                <v-btn color="blue darken-1" flat @click="login" :disabled="send">Вход</v-btn>
            </v-card-actions>
        </v-card>

    </v-dialog>
</template>

<script>
    export default {
        name: "abn-login-popup",
        beforeMount() {
            this.$bus.$on('user-registration-popup', this.close);
        },
        components: {
            "abn-register-popup": () => import('@/components/auth/RegisterPopup')
        },
        data() {
            return {
                dialog: false,
                valid: false,
                email: '',
                emailRules: [
                    v => !!v || 'Поле E-mail не может быть пустым',
                    v => /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(v) || 'Введите валидный E-mail',
                ],
                password: '',
                passwordRules: [
                    v => !!v || 'Поле пароля не может быть пустым',
                    v => (v && v.length > 3) || 'Пароль не может быть менее 4х символов',
                ],
                sending: false,
            };
        },
        methods: {
            close() {
                this.$refs.login_form.reset();

                this.dialog = false;
            },
            login() {
                if (this.send) return;

                const options = this.$store.getters['app/options'];
                const that = this;
                this.sending = true;

                this.$http.post(options.uri.user.login, {
                    email: this.email,
                    password: this.password,
                })
                    .then(response => {
                        let success = response;
                        response = response.data;

                        this.$store.commit('user/setUser', response);
                        that.$noty.success("Вход произведён успешно.");
                        that.close();
                    })
                    .catch(response => {
                        let error = response.response,
                            errors = response.response.data.errors,
                            message = response.response.data.message;

                        switch (error.status) {
                            case 401:
                            case 403:
                            case 422:
                                that.$noty.error("Введённые данные не верны.");
                                break;
                            default:
                                that.$noty.error("Неизвестная ошибка, попробуйте, пожалуйста, ещё раз или обратитесь к администраии.");
                                message && that.$noty.error(message);
                        }
                    })
                    .finally(() => {
                        that.sending = false;
                    })
            },
        },
        computed: {
            send() {
                return !(this.valid && this.email && this.password) || this.sending;
            },
        },
    }
</script>
