<template>
    <v-dialog v-model="dialog" persistent max-width="500px">

        <v-btn slot="activator" color="warning darken-1" flat>Регистрация</v-btn>

        <v-card>
            <v-card-title>
                <span class="headline">Регистрация</span>
            </v-card-title>
            <v-card-text>
                <v-container grid-list-md>
                    <v-form ref="register_form" v-model="valid" lazy-validation>
                        <v-layout wrap>

                            <v-flex xs12 sm6>
                                <v-text-field
                                    v-model="first_name"
                                    :rules="first_name_rules"
                                    label="Имя"
                                ></v-text-field>
                            </v-flex>

                            <v-flex xs12 sm6>
                                <v-text-field
                                    v-model="surname"
                                    :rules="surname_rules"
                                    label="Фамилия"
                                ></v-text-field>
                            </v-flex>

                            <v-flex xs12>
                                <v-tooltip bottom>
                                    <v-text-field
                                        slot="activator"
                                        v-model="avatar"
                                        :rules="avatar_rules"
                                        label="Аватар"
                                    ></v-text-field>
                                    Ссылка на аватар
                                </v-tooltip>
                            </v-flex>

                            <v-flex xs12>
                                <v-text-field
                                    v-model="nickname"
                                    :rules="nickname_rules"
                                    label="Ник *"
                                ></v-text-field>
                            </v-flex>

                            <v-flex xs12>
                                <v-text-field
                                    v-model="email"
                                    :rules="email_rules"
                                    label="E-mail *"
                                ></v-text-field>
                            </v-flex>

                            <v-flex xs12 sm6>
                                <v-text-field
                                    type="password"
                                    v-model="password"
                                    :rules="password_rules"
                                    label="Пароль *"
                                ></v-text-field>
                            </v-flex>

                            <v-flex xs12 sm6>
                                <v-text-field
                                    v-on:keyup.enter="register"
                                    type="password"
                                    v-model="password_confirmation"
                                    :rules="password_confirmation_rules"
                                    label="Подтверждение *"
                                ></v-text-field>
                            </v-flex>

                        </v-layout>
                    </v-form>
                </v-container>
                <small>* indicates required field</small>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="error darken-1" flat @click.native="close">Отмена</v-btn>
                <v-btn color="success darken-1" flat @click.native="register" :disabled="send">Потвердить</v-btn>
            </v-card-actions>
        </v-card>

    </v-dialog>
</template>


<script>
    export default {
        name: "abn-register-popup",
        data() {
            return {
                dialog: false,
                valid: false,
                sending: false,
                first_name: '',
                first_name_rules: [
                    v => {
                        if (!!v)
                            return v.length > 1 && v.length < 191 || 'Имя не может быть менее 2х символов';
                        else
                            return !0;
                    },
                ],
                surname: '',
                surname_rules: [
                    v => {
                        if (!!v)
                            return v.length > 1 && v.length < 191 || 'Фамилия не может быть менее 2х символов';
                        else
                            return !0;
                    },
                ],
                avatar: '',
                avatar_rules: [
                    v => {
                        if (!!v)
                            return v.length > 7 && /^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\.(jpe?g|png|svg|bmp)$/.test(v) || 'Ссылка на аватар должны быть правильным url адресом и ссылаться на изображение с расширением.';
                        else
                            return !0;
                    },
                ],
                nickname: '',
                nickname_rules: [
                    v => !!v || 'Поле никнэйма не может быть пустым',
                    v => (v && v.length > 3 && v.length < 191) || 'Никнэйм не может быть менее 4х символов',
                ],
                email: '',
                email_rules: [
                    v => !!v || 'E-mail is required',
                    v => /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(v) || 'E-mail must be valid',
                ],
                password: '',
                password_rules: [
                    v => !!v || 'Поле пароля не может быть пустым',
                    v => (v && v.length > 3) || 'Пароль не может быть менее 4х символов',
                ],
                password_confirmation: '',
                password_confirmation_rules: [
                    v => v === this.password || 'Пароли не совпадают',
                ],
            };
        },
        methods: {
            register() {
                this.sending = true;
                const that = this;
                const options = this.$store.getters['app/options'];

                let user = {
                    nickname: that.nickname,
                    email: that.email,
                    password: that.password,
                    password_confirmation: that.password_confirmation,
                };

                this.first_name && (user.first_name = this.first_name);
                this.surname && (user.surname = this.surname);
                this.avatar && (user.avatar = this.avatar);

                this.$http
                    .post(options.uri.user.register, user)
                    .then(response => {
                        that.$noty.success("Регистрация прошла успешно.");
                        this.$store.commit('user/setUser', response.data);
                        that.close();
                    })
                    .catch(error => {
                        error = error.response;
                        console.log(error);

                        switch (error.status) {
                            case 422:
                                if (error.data.errors &&
                                    error.data.errors.email &&
                                    error.data.errors.email[0].indexOf("been taken") !== -1)
                                // This email has been taken
                                    that.$noty.warning("Этот E-mail уже занят.");
                                else
                                    that.$noty.warning("В ваших данных есть ошибки.");
                                break;
                            default:
                                that.$noty.error("Неизвестная ошибка.");
                        }
                    })
                    .finally(() => {
                        that.sending = false;
                    });
            },
            close() {
                this.$refs.register_form.reset();
                this.userRegistrationEvent();

                this.dialog = false;
            },
            userRegistrationEvent() {
                this.$bus.$emit('user-registration-popup');
            },
        },
        computed: {
            send() {
                return !(this.valid && this.email && this.password && this.nickname && this.password_confirmation)
                    || this.sending;
            },
        }
    }
</script>
