<template>
    <v-card>
        <v-img
            v-if="!!getImage"
            :src="getImage"
            aspect-ratio="2.75"
        >
        </v-img>
        <v-img v-else aspect-ratio="2.75">
            <div class="abn-centred-holder">
                <div class="abn-centred">
                    <p>No image available</p>
                </div>
            </div>
        </v-img>

        <small class="deep-orange--text abn-absolute-right">{{ getPost.id }}</small>

        <v-card-title primary-title>
            <div>
                <h3 class="headline mb-0">{{ getPost.title }}</h3>
                <div>{{ getPost.content }}</div>
            </div>
        </v-card-title>

        <v-card-actions v-if="getPost.author_id === (getAuth ? getAuth.id : -1)">
            <v-btn flat color="blue" :to="{name: 'post.view', params: {post_id: getPost.id}}">
                <v-icon>visibility</v-icon>
            </v-btn>
            <v-spacer></v-spacer>
            <v-btn flat color="accent darken-1" :to="{name: 'post.edit', params: {post_id: getPost.id}}">
                <v-tooltip top>
                    <v-icon slot="activator">edit</v-icon>
                    Редактировать
                </v-tooltip>
            </v-btn>
            <v-btn flat color="error darken-1">
                <v-tooltip top>
                    <v-icon slot="activator">delete</v-icon>
                    Удалить
                </v-tooltip>
            </v-btn>
        </v-card-actions>
        <v-card-actions v-else>
            <v-btn flat color="blue" :to="{name: 'post.view', params: {post_id: getPost.id}}">
                <v-icon>visibility</v-icon>
            </v-btn>
            <v-spacer></v-spacer>
            <small class="light-green--text">{{ getPost.author.nickname }}</small>
            <small>&nbsp;&nbsp;&nbsp;</small>
            <small>{{ getPost.created_at }}</small>
        </v-card-actions>
    </v-card>
</template>

<script>
    export default {
        name: "abn-venue-card",
        props: {
            post: {
                type: Object,
                default: {
                    id: 0,
                    title: "Awesome post title",
                    content: "Some post description",
                    created_at: 'When post was created',
                    updated_at: 'When post was created',
                    image: {
                        url: "Some http url",
                    },
                    author_id: 0,
                    author: {
                        id: 0,
                        nickname: "Some nickname.",
                    },
                }
            }
        },
        mounted() {
            if (!this.post.is_active) {
                this.is_active = 0;
            }

            if (this.post.image) {
                this.img_url = this.post.image.url;
            }
        },
        data() {
            return {
                options: this.$store.getters['app/options'],
                img_url: null,
                is_active: 1,
                is_commentable: 1,
            }
        },
        computed: {
            getImage() {
                return this.img_url;
            },
            getPost() {
                return this.post;
            },
            getAuth() {
                return this.$store.getters['user/user'];
            }
        },
    }
</script>

<style scoped>
    .abn-absolute-right {
        position: absolute;
        right: .25rem;
        top: .25rem;
    }

    .abn-centred-holder {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    .abn-centred {
        display: flex;
        align-self: center;
    }

    /*.v-card__actions {*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*}*/
</style>
