<template>
    <v-container grid-list-md>
        <v-card>
            <v-card-title>
                <span class="headline" v-if="isEdit">Редактирование поста №{{ getPost.id }}</span>
                <span class="headline" v-else>Создание нового поста</span>
            </v-card-title>
            <v-card-text>
                <v-container grid-list-md>
                    <v-form ref="post_form" v-model="valid" lazy-validation>
                        <v-layout wrap>
                            <v-flex xs12 sm6>
                                <v-text-field
                                    v-model="title"
                                    :rules="title_rules"
                                    label="Название *"
                                ></v-text-field>
                            </v-flex>

                            <v-flex xs12 sm6>
                                <v-text-field
                                    v-model="image_url"
                                    :rules="image_url_rules"
                                    label="Изображение"
                                ></v-text-field>
                            </v-flex>

                            <v-flex xs12>
                                <v-textarea
                                    outline
                                    counter="2000"
                                    rows="3"
                                    :auto-grow="true"
                                    v-model="content"
                                    :rules="content_rules"
                                    label="Контент *"
                                ></v-textarea>
                            </v-flex>
                        </v-layout>
                    </v-form>
                </v-container>
            </v-card-text>

            <v-card-actions>
                <v-btn v-if="isEdit" flat :color="getPost.is_active ? 'error' : 'success'">
                    <v-tooltip top>
                        <v-icon v-if="getPost.is_active" slot="activator">visibility_off</v-icon>
                        <v-icon v-else slot="activator">visibility</v-icon>

                        <span v-if="getPost.is_active">Деактивировать</span>
                        <span v-else>Активировать</span>
                    </v-tooltip>
                </v-btn>
                <v-btn v-if="isEdit" flat :color="getPost.is_commentable ? 'error' : 'success'">
                    <v-tooltip top>
                        <v-icon v-if="getPost.is_commentable" slot="activator">thumb_down</v-icon>
                        <v-icon v-else slot="activator">thumb_up</v-icon>

                        <span v-if="getPost.is_commentable">Запретить комментарии</span>
                        <span v-else>Разрешить комментарии</span>
                    </v-tooltip>
                </v-btn>
                <v-spacer></v-spacer>
                <v-btn flat
                       color="error darken-1"
                       v-if="isEdit"
                       @click="cancelPostEdit"
                       :disabled="isDisabled">
                    <v-tooltip top>
                        <v-icon slot="activator">thumb_down</v-icon>
                        Отмена
                    </v-tooltip>
                </v-btn>
                <v-btn color="success darken-2" flat @click="createPostRequest" :disabled="isDisabled">
                    <v-tooltip top>
                        <v-icon slot="activator">thumb_up</v-icon>
                        <span v-if="isEdit">Изменить</span>
                        <span v-else>Создать</span>
                    </v-tooltip>
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-container>
</template>

<script>
    export default {
        name: "abn-post-management",
        beforeMount() {
            this.$bus.$on('new-post-event', this.clearDataForNewPost);

            if (this.$route.params.post_id) {
                this.options = this.$store.getters['app/options'];
                this.requirePostById();
            }
        },
        data() {
            return {
                valid: false,
                sending: false,
                options: this.$store.getters['app/options'],
                auth: this.$store.getters['user/user'],
                title: '',
                title_rules: [
                    v => !!v || "Это поле обязательно",
                    v => (v && v.length > 3 && v.length < 191) || "Минимум 4 знака, максимум 190 знаков",
                ],
                content: '',
                content_rules: [
                    v => !!v || "Это поле обязательно",
                    v => (v && v.length > 9 && v.length < 2001) || "Минимум 10 знаков, максимум 2000 знаков",
                ],
                image_url: '',
                image_url_rules: [
                    v => {
                        if (v) {
                            return v.length > 7 && /^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\.(jpe?g|png|svg|bmp)$/.test(v) || 'Ссылка на изображение должна быть правильным url адресом и ссылаться на изображение с расширением.';
                        } else {
                            return !0;
                        }
                    }
                ],
                post_id: null,
                post_object: {
                    id: 0,
                    title: '',
                    content: '',
                    image: {
                        url: '',
                    },
                    is_commentable: false,
                },
            };
        },
        methods: {
            createPostRequest() {
                this.sending = true;
                const create_url = this.options.uri.post.crud;
                const update_url = `${this.options.uri.post.crud}/${this.$route.params.post_id}`;

                let post = {
                    title: this.title,
                    content: this.content,
                };

                this.post_id && (post.id = this.post_id);
                this.image_url && (post.image_url = this.image_url);

                const request = post.id ? this.$http.put : this.$http.post;

                request(post.id ? update_url : create_url, post)
                    .then(response => {
                        this.$noty.success("Пост удачно " + (post.id ? "изменён" : "загружен"));
                        this.$refs.post_form.reset();
                        this.$router.push({name: "post.view", params: {post_id: response.data.post.id}});
                    })
                    .catch(error => {
                        console.log(error.response);
                        this.$noty.error("Наблюдаются некоторые неполадки");
                    })
                    .finally(() => {
                        this.sending = false;
                    });
            },
            requirePostById() {
                this.sending = true;
                const url = `${this.options.uri.post.crud}/${this.$route.params.post_id}`;

                this.$http.get(url).then(response => {
                    this.post_object = response.data;
                    response = response.data;

                    this.post_id = response.id;
                    this.title = response.title;
                    this.image_url = response.image ? response.image.url : '';
                    this.content = response.content;
                }).catch(error => {
                    error = error.response;

                    switch (error.status) {
                        case 404:
                            this.$noty.warning('Такого поста не существует');
                            this.$router.push({name: 'post.main'});
                            break;
                        case undefined:
                            console.log(error);
                            break;
                        default:
                            this.$noty.error('Неопознанная ошибка сервера.');
                            this.$router.push({name: 'post.main'});
                    }
                }).finally(() => {
                    this.sending = false;
                })
            },
            cancelPostEdit() {
                this.$refs.post_form.reset();
                this.$router.push({name: "post.view", params: {post_id: this.post_id}});
            },
            clearDataForNewPost() {
                this.$refs.post_form.reset();
                this.post_id = null;
                this.post_object.id = 0;
            },
        },
        computed: {
            isDisabled() {
                return !(this.valid && this.title && this.content) || this.sending;
            },
            isEdit() {
                return !!this.post_id || this.post_object.id;
            },
            getPost() {
                return this.post_object;
            },
        }
    }
</script>
