<template>
    <v-container fluid>
        <v-layout wrap>
            <v-flex xs12 sm10 md8 offset-sm1 offset-md2>
                <v-card v-if="getPostId">
                    <v-img
                        v-if="!!img_url"
                        :src="img_url"
                        aspect-ratio="2.75"
                    >
                    </v-img>
                    <v-img v-else aspect-ratio="2.75">
                        <div class="abn-centred-holder">
                            <div class="abn-centred">
                                <p>No image available</p>
                            </div>
                        </div>
                    </v-img>

                    <small class="deep-orange--text abn-absolute-right">{{ id }}</small>

                    <v-card-title primary-title>
                        <div>
                            <h3 class="headline mb-0">{{ title }}</h3>
                            <div>{{ content }}</div>
                        </div>
                    </v-card-title>

                    <v-card-actions v-if="getPostId && author_id === auth.id">
                        <v-spacer></v-spacer>
                        <v-btn flat color="accent darken-1" :to="{name: 'post.edit', params: {post_id: this.id}}">
                            <v-tooltip top>
                                <v-icon slot="activator">edit</v-icon>
                                Редактировать
                            </v-tooltip>
                        </v-btn>
                        <v-btn flat color="orange darken-3">
                            <v-tooltip top>
                                <v-icon slot="activator">thumb_down</v-icon>
                                Деактивировать
                            </v-tooltip>
                        </v-btn>
                        <v-btn flat color="error darken-1">
                            <v-tooltip top>
                                <v-icon slot="activator">delete</v-icon>
                                Удалить
                            </v-tooltip>
                        </v-btn>
                    </v-card-actions>
                    <v-card-actions v-else>
                        <v-spacer></v-spacer>
                        <small class="light-green--text">{{ author_nickname }}</small>
                        <small>&nbsp;&nbsp;&nbsp;</small>
                        <small>{{ created_at }}</small>
                    </v-card-actions>
                </v-card>
                <div v-else>Nothing, but chickens</div>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    export default {
        name: "abn-post-view",
        beforeMount() {
            this.options = this.$store.getters['app/options'];
            this.auth = this.$store.getters['user/user'];

            this.timer = setTimeout(() => {
                this.id = this.$route.params.post_id;
                this.retrievePostById();
            }, 125);
        },
        data() {
            return {
                id: 0,
                img_url: '',
                title: 'Example title',
                content: 'Post content',
                is_commentable: false,
                author_id: 0,
                author_nickname: null,
                is_active: 0,
                options: {},
                timer: null,
                auth: null,
            };
        },
        methods: {
            setPostData(payload) {
                this.id = payload.id;
                payload.image && (this.img_url = payload.image.url);
                this.title = payload.title;
                this.content = payload.content;
                this.is_commentable = payload.is_commentable;
                this.author_id = payload.author_id;
                this.is_active = payload.is_active;
                this.created_at = payload.created_at;

                if (payload.author) {
                    this.author_nickname = payload.author.nickname;
                }
            },
            retrievePostById() {
                const url = `${this.options.uri.post.crud}/${this.id}`;

                this.$http
                    .get(url)
                    .then(response => {
                        response = response.data;

                        this.setPostData(response);
                    })
                    .catch(error => {
                        error.response && error.response.status(error = error.response);

                        switch (error.status) {
                            case 404:
                                this.$noty.warning('Такого поста не существует');
                                this.$router.push({name: 'post.main'});
                                break;
                            case undefined:
                                console.log(error);
                                break;
                            default:
                                this.$noty.error('Неопознанная ошибка сервера.');
                                this.$router.push({name: 'post.main'});
                        }
                    });
            },
        },
        computed: {
            getPostId() {
                return !!this.id;
            },
        },
    }
</script>

<style scoped>
    .abn-absolute-right {
        position: absolute;
        right: .25rem;
        top: .25rem;
    }

    .abn-centred-holder {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    .abn-centred {
        display: flex;
        align-self: center;
    }
</style>
