<template>
    <v-container fluid>
        <v-text-field
            v-model="posts_query"
            label="Поиск"
            v-on:keyup.enter="postsRequest"
        ></v-text-field>

        <v-container v-if="posts.length">
            <v-layout v-for="posts_chunk in postsList" wrap>
                <v-flex xs12 sm6 md3 v-for="post in posts_chunk" class="abn-padding">
                    <abn-post :post="post"></abn-post>
                </v-flex>
            </v-layout>
        </v-container>
        <h3 v-else>There is no any posts</h3>

        <div class="text-xs-center" v-if="posts.length">
            <v-pagination
                v-model="posts_page"
                :length="posts_pages"
            ></v-pagination>
        </div>
    </v-container>
</template>

<script>
    import "@/common/array_chunk.js"
    import AbnPost from "@/components/post/PostCard"

    export default {
        name: "abn-post-dashboard",
        components: {
            AbnPost,
        },
        beforeMount() {
            this.postsRequest();
        },
        data: function () {
            return {
                options: this.$store.getters['app/options'],
                posts: [],
                posts_query: '',
                posts_page: 1,
                posts_limit: 8,
                posts_pages: 0,
            };
        },
        methods: {
            postsRequest() {
                let url = this.options.uri.post.index + `?page=${this.posts_page}&limit=${this.posts_limit}`;

                if (this.posts_query) {
                    url += `&query=${this.posts_query}`;
                }

                this.$http.get(url)
                    .then(response => {
                        console.log(response);
                        response = response.data.posts;

                        this.posts = response.data;
                        this.posts_pages = response.last_page;
                    })
                    .catch(error => {
                        error.response && (error = error.response);
                        console.log(error);

                        this.$noty.error(error.status ? `Error with status: ${error.status}` : "Unknown error");
                    });
            },
        },
        computed: {
            postsList() {
                return this.posts.chunk(4);
            },
        },
        watch: {
            posts_page() {
                this.postsRequest();
            }
        }
    }
</script>

<style scoped>
    .abn-padding {
        padding: .35rem;
    }

    .v-card {
        height: 100%;
    }
</style>
