<template>
    <v-navigation-drawer
        temporary
        :right="true"
        v-model="drawer"
        fixed
        app
    >

        <v-list>
            <v-list-tile :to="{name: 'post.main'}">
                <v-list-tile-action>
                    <v-icon>playlist_play</v-icon>
                </v-list-tile-action>
                <v-list-tile-title>Посты</v-list-tile-title>
            </v-list-tile>
        </v-list>

        <v-list v-if="isUser">
            <v-list-tile @click="newPostAction"
                         :class="$route.name === 'post.add' ? 'primary--text v-list__tile--active' : ''">
                <v-list-tile-action>
                    <v-icon>playlist_add</v-icon>
                </v-list-tile-action>
                <v-list-tile-title>Новый пост</v-list-tile-title>
            </v-list-tile>
        </v-list>

        <v-divider v-if="isUser"></v-divider>

        <v-list v-if="isUser">
            <v-list-tile @click.stop="exit">
                <v-list-tile-action>
                    <v-icon>exit_to_app</v-icon>
                </v-list-tile-action>
                <v-list-tile-title>Выход</v-list-tile-title>
            </v-list-tile>
        </v-list>

    </v-navigation-drawer>
</template>

<script>
    export default {
        name: "abn-aside",
        data: function () {
            return {
                drawer: false,
                auth: this.$store.getters['user/user'],
                success: this.$store.getters['user/success'],
            };
        },
        mounted: function () {
            this.$bus.$on('toggle-main-side-bar', this.toggleBar);
        },
        methods: {
            toggleBar: function () {
                this.drawer = !this.drawer;
            },
            exit() {
                this.$bus.$emit('user-logout-event');
            },
            newPostAction() {
                if (this.$route.name === 'post.edit') {
                    this.$bus.$emit('new-post-event');
                }

                this.$router.push({name: 'post.add'});
            },
        },
        computed: {
            isUser() {
                this.success = this.$store.getters['user/success'];
                this.auth = this.$store.getters['user/user'];

                return this.success && this.auth.id !== 0;
            },
        }
    }
</script>
