<template>
    <v-toolbar app>
        <!--<v-toolbar-side-icon @click.stop="true"></v-toolbar-side-icon>-->

        <v-btn icon :to="{name: 'home'}">
            <v-icon>home</v-icon>
        </v-btn>

        <v-spacer></v-spacer>

        <v-btn icon color="secondary" v-if="isUser" :to="{name: 'user.profile'}">
            <v-avatar v-if="getAvatarUrl">
                <img :src="getAvatarUrl">
            </v-avatar>
            <v-icon v-else>perm_identity</v-icon>
        </v-btn>
        <v-tooltip bottom v-else>
            <abn-login-popup slot="activator"></abn-login-popup>
            Авторизация
        </v-tooltip>

        <v-btn icon @click.stop="toggleAside">
            <v-icon>menu</v-icon>
        </v-btn>
    </v-toolbar>
</template>

<script>
    export default {
        name: "abn-header",
        components: {
            "abn-login-popup": () => import('@/components/auth/LoginPopup')
        },
        data: function () {
            return {
                title: "Panel",
                auth: this.$store.getters['user/user'],
                success: this.$store.getters['user/success'],
            };
        },
        methods: {
            toggleAside() {
                this.$bus.$emit('toggle-main-side-bar');
            },
        },
        computed: {
            isUser() {
                this.success = this.$store.getters['user/success'];
                this.auth = this.$store.getters['user/user'];

                return this.success && this.auth.id !== 0;
            },
            getAvatarUrl() {
                if (this.auth.avatar) {
                    return this.auth.avatar.url;
                } else {
                    return null;
                }
            },
        },
    }
</script>
